<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>WebCamera</title>

</head>
<body>
    <div id="videoFrame-centered-container">
        <h1 id="videoFrame-centered-text">Press to begin</h1>
        <div id="videoFrame-blur-container" class="blurred" onclick="this.classList.remove('blurred')">
            <div id="overlay">
            <img id="videoFrame" src="{% url 'live_camera' %}" onclick="this.classList.remove('blur')" alt="">
            </div>
            <div id="videoFrame-bottom-text"><h2>  This is the bottom text</h2></div>
        </div>
    </div>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">


</body>
</html>